body {
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #6c575c;
}

/* mobile */
.honey-article {
  display: flex;
  flex-direction: column;
  background-color: #fbf7e3;
  padding: 1.3em;
  border-radius: 25px;
}

/* .honey-article {
  display: flex;
  justify-content: space-around;
  align-items: start;
} */

.honey-article img {
  width: 100%;
}

.article-text h2,
.article-text p {
  margin: 0;
  margin-bottom: 0.3em;
}

.article-text {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 0 1em;
}
