body {
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

main {
  display: flex;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #fbf7e3;
  border-radius: 80px;
  width: 300px;
  height: 400px;
  overflow: hidden;
  color: #6c575c;
}

.card img {
  flex-grow: 1;
}

.card-description {
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 1.5em;
}

.description-text {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.description-text h2 {
  margin-bottom: 0.2em;
}

.description-text p {
  margin-top: 0.2em;
}

.card button {
  align-self: center;
  border: 1px #f3df85 solid;
  background-color: #f3df85;
  width: 50%;
  padding: 0.5em 2em;
  margin-bottom: 1.5em;
  color: #6c575c;
  font-weight: bold;
  border-radius: 20px;
}
