body {
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fbf7e3;
  border-radius: 60px;
  padding: 2em;
  width: 100%;
}

nav button {
  color: #6c575c;
  background-color: #f3df85;
  border: 1px #f3df85 solid;
  padding: 0.7em 1em;
  border-radius: 50px;
  align-self: center;
  width: 18%;
}
#shop {
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  font-weight: bold;
  padding: 0.7em 3em;
}
#logo {
  width: 25px;
  height: auto;
  margin-right: 0.5em;
}
